<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <title>Edit Location</title>
  </head>
  <body>
    <h1>Edit Location</h1>
    <form method="POST" action="/edit_location/{{ location.location_id }}">
      <label for="location_name">Location Name:</label>
      <input
        type="text"
        id="location_name"
        name="location_name"
        value="{{ location.location_name }}"
        required
      />
      <button type="submit">Update Location</button>
    </form>
    <a href="/" class="back-button">Back to Locations</a>
  </body>
</html>
