<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <title>View Location</title>
  </head>
  <body>
    <h1>View Location</h1>
    <div class="Location-details">
      <p><strong>Location ID:</strong> {{ location.location_id }}</p>
      <p><strong>Location Name:</strong> {{ location.location_name }}</p>
    </div>
    <a href="/" class="back-button">Back to locations</a>
  </body>
</html>
